.form{
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    margin:auto;
    width: 50%;
    border: 2px solid #fcc74c;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: repeat(4,35px); 
    gap: 20px; 
}
.form>textarea{
    padding: 10px;
    grid-area:4/2/6/3;
    border: 2px solid skyblue;
    border-radius: 20px;
    outline: none;
}
.form>input{
    width: 100%;
    padding: 10px;
    border: 2px solid skyblue;
    border-radius: 10px;
    outline: none;
}
#but{
    grid-area:6/2/7/3 ;
   cursor: pointer;
}
#but:hover{
  background-color:#FF5349;
  color: white;
  
}
@media all and (min-width:900px) and (max-width:1150px){
    .form{
        width: 80%;
    }
}
@media all and (min-width:480px) and (max-width:900px){
    .form{
        width: 100%;
    }
}
@media all and (min-width:100px) and (max-width:479px){
    .form{
        width: 100%;
    }
    #but{
        display: block;
        margin:20px auto;
        width: 100px;
    }
   
}

