.nav{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: sticky;
    top:0px;
    background: #FFF;
}
.container{
    justify-content:space-around;
    align-items: center;
}

.tab{
    font-size: 18px;
    font-family:Poppins;
    cursor: pointer; 
}
.tab:hover{
    color:#FF5349
}
.icon{
    width:30px; 
    padding:5px;
    color:red
}